/* Box Model Hack */
* {
  box-sizing: border-box;
  /* border: black solid 2px; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
html {
  font-size: 62.5%;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
width: 100%;
height: 100%;
margin: auto;

}

h2 {
  font-size: 4rem;
  text-align: center;
}

h3, .fa-1, .fa-2, .fa-3  {
  font-size: 2rem;
}

span, p, i {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

button {
  border: solid #0070ba 1px; 
  border-radius: 3rem;
  color:#0070ba;
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 320px;
  padding: 1.3rem 2.4rem;
}

header button {
  font-size: 1.2rem;
  padding: 1.1% 1.8%;
  text-align: right;
}
header span {
  font-size: 1.4rem;
}
/******************************************
/* LAYOUT
/*******************************************/
button, header span, .bold, .logo {
  cursor: pointer;
}
header, footer, section {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header {
  justify-content: space-between;
  flex-direction: row;
  padding: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  position:sticky;
  box-shadow:0px 5px 10px #aeb0b5;
}
.menu {
  flex-basis: 60%;
  text-align: center;
}
.menu span {
  padding-left: 2%;
  padding-right: 2%;
}
.show {
  display: none;
  align-items: center;
}
.show i {
  margin-right: 5%;;
}

.top-section {
  color: white;
  background: url('../assets/top-section2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
}
.top-section h2 {
  width: 70%;
}
section {
  min-height: 500px;
  padding: 5%;
}
footer {
  padding: 1.5%;
}
footer span {
  font-size: 1.4rem;
}
 .footer-nav span, .footer-nav i {
  padding: 1rem;
  font-weight: 700;
}
.card {
  border-radius: 1rem;
  width: fit-content;
  height: auto;
  margin-top: 3rem;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
}
.card img {
  width:70%;
  display: block;
  margin: 0 auto;
}

.top-margin-none{
  margin-top: 0
}
.columns {
  column-count: 3;
  column-gap:2%;  
}

.numbers i, .numbers span, .numbers h3 {
  display: block;
  justify-content: center;
  align-items: top;
  text-align: center;
}
.numbers i, .numbers h3, .blue-backdrop h2 {
  padding-bottom: 5%;
}
.logo {
  width: 10rem;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* COLOURS */
/* for blue buttons */
.blue {
  background-color: #0070ba; 
  color: #ffffff;
}

/* Section background colours */
.grey-border {
  border: gray solid 1px;
}

.grey-backdrop {
  background-color: #f5f7fa;
}
.blue-backdrop {
  background: rgb(0,154,220);
  background: radial-gradient(circle, rgba(0,154,220,1) 0%, rgba(0,68,151,1) 77%);
  color: #ffffff;
}

/* FONT STYLES */
.bold {
  font-weight: 700;
}

.grey {
  color: gray; 
}

/* smaller than 750px */
@media (max-width: 750px) {
  .show {
    display: flex;
  }

  .hide {
    display:none;
  }
  h2{
    font-size: 3rem;
  }

  .columns {
     column-count: 1;
     column-gap: 7rem;
     text-align: center;
  }
  section {
    min-height: auto;
    padding: 10% 5%;
  }
  .top-section{
    min-height: 350px;
  }
 .top-section h2 {
  width: 100%;
}
  .vector .card {
    width: 30rem;
  }
 .blue-backdrop .card{
    margin-top: 10%;
    margin-bottom:10%;
 }
}

@media (min-width: 870px) {
  .menu {
    flex-basis: 65%;  
  }
}
@media (min-width: 1070px) {
  .menu {
    flex-basis: 70%;  
  }
}